/* Apply to the label element associated with a required field */ 
 .required::after {    
  content: ' (Required) '
  color: #c00;    
  font-size: .8em;
  }

.header, .footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    text-color: #1ef876
    font-family: "Comfortaa", Comfortaa, sans-serif;
}

.underline-link {
	position: relative;
	color: #f2552c;
}
