/* Apply to the label element associated with a required field */ 
 .required::after {    
  content: ' (Required) '
  color: #c00;    
  font-size: .8em;
  }

.header, .footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    text-color: #1ef876
    font-family: "Comfortaa", Comfortaa, sans-serif;
}

.underline-link {
	position: relative;
	color: #f2552c;
}

.underline-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #f2552c;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: transform 0.2s ease-in-out 0s;
	transition: transform 0.2s ease-in-out 0s;
}

.underline-link:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.button:link,
.button:visited {
	display: inline-block;
	background-color: #f2552c;
	color: #fff;
	padding: 10px 18px;
	margin: 0;
	border-radius: 80px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: transform 0.2s, box-shadow 0.2s;
	transition: transform 0.2s, box-shadow 0.2s;

}

.button:hover,
.button:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-box-shadow: 0 7px 14px rgba(59, 107, 90, 0.25);
	box-shadow: 0 7px 14px rgba(59, 107, 90, 0.25);
}


